html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#map-canvas {
	margin-left: 20px;
	margin-right: 20px;
	padding: 0px;
	height: 70%;
	width:70%;
	float:left;
}
#legend {
	background: white;
	padding: 10px;
}
#streams {
	width:25%;
	border:1px solid black;
		float:left;

}
